<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cheyyiraababu</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="box">Do it!!!</div>

  <div class="parent1">
    <div class="box1">
    <% for (var i = 0; i < ejes.length; i++) { %>
      <input type="checkbox">
      <p><%= ejes[i] %></p>
    <% } %>
  </div>
  <div class="in">
    <form action="/" method="POST">
      <input type="text" name="ele1" placeholder="Enter the task">
      <button type="submit">+</button>
    </form>
  </div>
  </div>
</body>
</html>